#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.flex-grid .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-grid .header {
  flex: .2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-grid .cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.boardColorblack {
  background-color: #c97725;
  border: 3px #c97725 solid;
  color: white;
}

.cell.boardColorwhite {
  background-color: #783c00;
  border: 3px #783c00 solid;
  color: white;
}

.cell.selected {
  border: 3px red solid;
}

.cell.available {
  border: 3px green dotted;
}

.cell.lastMoved {
  border: 3px blue dashed;
}

.App {
  text-align: center;
}